/*Main Body Styling*/
body {
    background-color: black;
    padding: 3px 3px;
}

/*Main Heading Styling*/
h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-family:  sans-serif;
    font-variant: small-caps; 
}

/*Subheading Styling*/
h2{color:white;}

/*Paragraph Text Styling*/
p {
    font-family: "arial";
    font-size: 20px;
    text-align:center;
    color: white;
}

p3{
    font-family: "arial";
    font-size: 20px;
    text-align: center;
    color: white;
}

h3{
     margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px white;
    color: white;
}

p4{
    font-family: "arial";
    font-size: 30px;
    text-align:left;
    color: white; 
}

.username{
    width: 150px;
    height:20px;
    
}

.password{
    width: 150px;
    height:20px;
}

.logindiv{
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 400px;
    height: 250px;
    border:1px solid white;
}

.formtest{    
margin: 0 auto; 
width:150px;
}
.inputok{
    float:right;
    margin-right:50px;
    width:50px;
}

marquee {
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-family:  sans-serif;
    font-variant: small-caps; 
}
    

p_home{
    color: white;
    font-size: 40px;
    position:absolute;

}


/*Logo Number 1*/
.logoleft {
    position: absolute;
    top: 18px;
    left: 10px;
}

/*Logo Number 2 */
.logoright {
    position: absolute;
    top: 18px;
    right: 10px;    
}

/*Main introduction container*/
#intro_container{
    position: absolute;
    top: 40%;
    left: 40%;
}

/*Actual Introduction Styling*/
#intro{
    color: whitesmoke;
    
    font-family: Papyrus, fantasy;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

/*Background Container Styling*/
#bg_container{
    position:absolute ;
    width: 100%;
    height: 100%;
    
    /*border: 3px solid white;*/
    left: -1px;
    background-color: #0d0d0d;
    
    /*set video to back */
    z-index: -100;
    
    /**tupac backup image is in this */
    /*background: url(../tupac.png) no-repeat;*/
    right: 0px;
}

#bg_video{
 /*DO WE NEED THIS AS A TAG*/
 width: 100%;
}

/*Navigation Bar Styling*/
.nav ul{
  list-style: none;
         
  /*background-color: black;*/
  text-align: center;
  padding: 0;
  border-bottom: 3px solid white;
  margin: 10px 10px 10px 10px;
}

/*Navigigation Text syling*/
.nav li {
  margin: auto auto auto 30px ;
 
  /*Achive a horizontal navigational bar*/
  display: inline-block;
  color: black;
  font-family:  sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: auto;
}
 
/*Navigation Text design*/
.nav a {
  text-decoration: none;
  /*navigation text colour*/
  color: white;
  display: inline-block;
  transition: .3s background-color;
  
}
 
/*If user hovers on button*/
.nav a:hover {
  color: white;
  /*background-color: black;*/
  text-decoration: underline;
  
}

/*Navigation Button colour changes if user on specific page*/
.nav a.active {
  color: red;
  cursor: default;
}

.video{  
    position: fixed;
     width: 100%;
     height: 100%;
     top: 80px;
     /*set video to back */
      z-index: -100;
    
    /**tupac backup image is in this */
  /*background: url(../tupac.png) no-repeat;*/
    right: 0px;
    
}

.frame{
    width:100%;
    height: 900px;
    z-index: -100;
}
/*Footer container styling*/
.footerholder {
   
    background: none repeat scroll 0 0 ;
    border-top: 3px solid white;
    margin: auto;
    position: fixed;
    text-align: center;
    width: 93%;
    padding: 15px;
    bottom: 20px; 
}

/*Footer Text styling*/
.site-footer {
    background: none repeat scroll 0 0;
    height: auto;
    bottom: 25px;
    margin: auto;
    position:fixed;
    font-family:  sans-serif;
    font-size: 15px;
    color: white;
    width:100%;   
    left:0px;
}    


.boxone {
    width:150px;
    height:400px;
    float:left;
    padding:0px 20px;
    margin: 20px;
    background:grey;
}

.boxone p {
    color: white;
    padding:0px 20px;
}

.Venues{
    height:100px;
    
}
/***
Javascript for venues
***/
.testcomment {width:200px;float:left;background-color:black;border:1.5px solid whitesmoke;} 
iframe {width:100%; height:250px;border:0;}
#comment-wrap {background:#fff;position:relative}
#comments #comment-wrap{display:none;z-index:5;padding:10px; background-color:black;}
#comments:hover #comment-wrap {display:block}


venueone{float:left;display:inline-block;}

venuetwo{float:left;display:inline-block;}

venuethree{float:left;display:inline-block;}


.carousel-inner{
    width: 600px;
    height: 238px;
    border: 3px solid white;
    position: fixed;
    bottom: 55px;
    left: 3px;
    
}

.carousel-indicators{
    position: fixed;
    bottom: 55px;
    left: 40px;
}

.container{
    position: absolute;
    
}


.mapdiv{
    float:right;
    width:500px;
    height:380px;
    border:2.5px solid red;

}

